*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
p{
    font-family: 'Roboto', sans-serif;
    color:green;
}
h1{
    font-size: 35px;
    color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.h2{
    font-size: 25px;
}


